RewriteEngine On
ErrorDocument 404 /404.php
RewriteRule    ^error$ error.php
#
RewriteRule    ^/$ index.php?page=index
RewriteRule    ^post/([0-9_-]+)$    index.php?page=post&id=$1
RewriteRule    ^tag/([a-zA-Z0-9_-]+)$    index.php?page=bytag&tag=$1
RewriteRule    ^new$    index.php?page=new