<div id="glossary">
    <div id="app">
        <input type="search" v-model="search">
        <ul>
            <li 
                v-for="term in terms" 
                v-if="term.toLowerCase().indexOf(search.toLowerCase()) != -1">
                <a :href="'term/'+term">{{ term }}</a>
            </li>
        </ul>
    </div>
</div>
   
<script>
    var app = new Vue({
        el: "#app",
        data: {
            search: '',
            terms: ['one', 'two', 'three']
        },
        methods: {},
        created: function() { console.log("created"); }
    })
</script>
</body>

</html>
