<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="search">
        <li 
            v-for="term in terms" 
            v-if="term.toLowerCase().indexOf(search.toLowerCase()) != -1">
            {{ term }}
        </li>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                search: '',
                terms: ['one', 'two', 'three']
            },
            methods: {},
            created: function() { console.log("created"); }
        })
    </script>
</body>

</html>
